{{!-- Main Index --}}
<div id="main-title">
    <h2>Get all your Movie News!!</h2>
</div>

{{!-- articles --}}
<div class="row">
    <div class="col m4" id="notes">
    </div>
    <div id="card-articles col m8" >    
        <div id="articles">
            {{#each articles}}
            <h4>{{this.title}}</h4>
            <div class="card horizontal" id="hCard">  
                <div class="card-stacked">
                    <div class="card-content">
                        <p id="exerpt" class="card-text" data-id="{{this.id}}">{{this.exerpt}}</p><br>
                    </div>
                    <div class="card-action">
                        <a href="https://screenrant.com/{{this.link}}">https://screenrant.com/{{this.link}}</a>     
                    </div>
                </div>
                <button class="waves-effect btn-small grey darken-2" id="delete" data-id="{{this.id}}">Delete</button>
            </div>
                {{!-- notes --}}
                <div id="saved-notes">
                    <h5 id="title-input"></h5>
                    <p id="body-input"></p>
                    {{!-- {{#each note}}
                    <h5 id="title-input">{{note.title}}</h5>
                    <p id="body-input">{{note.body}}</p>
                    {{/each}} --}}
                </div>    
            {{/each}}
        </div>
    </div>
</div>